---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';
import ControlledDemolition from '../components/ControlledDemolition.astro';
---

<Layout title="Controlled Demolition | <strong>AquaShield Restoration LLC</strong>" description="Safe and strategic removal of damaged or contaminated material preparing the structure for the reconstruction phase.">
  <Navbar />
  <main>
    <ControlledDemolition />
  </main>
  <Footer />
</Layout>
