---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';
import Contact from '../components/Contact.astro';
---

<Layout title="Contact & Support | V General Contractors">
  <Navbar />
  <main>
    <Contact />
  </main>
  <Footer />
</Layout>
