---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';
import DryingDehumidificationComponent from '../components/DryingDehumidification.astro';
---

<Layout title="Drying & Dehumidification | <strong>AquaShield Restoration LLC</strong>" description="Advanced industrial technology to extract moisture from walls, floors, and structures, preventing long-term damage and mold.">
  <Navbar />
  <main>
    <DryingDehumidificationComponent />
  </main>
  <Footer />
</Layout>
