---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';
import EmergencyBoardUp from '../components/EmergencyBoardUp.astro';
---

<Layout title="Emergency Board-Up | <strong>AquaShield Restoration LLC</strong>" description="We secure your property after disasters or vandalism by temporarily sealing doors, windows, and roofs.">
  <Navbar />
  <main>
    <EmergencyBoardUp />
  </main>
  <Footer />
</Layout>
