---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';
import FaqsComponent from '../components/Faqs.astro';
---

<Layout title="Frequently Asked Questions | <strong>AquaShield Restoration USA</strong>">
  <Navbar />
  <main>
    <FaqsComponent />
  </main>
  <Footer />
</Layout>

