---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';
import FireDamageComponent from '../components/FireDamage.astro';
---

<Layout title="Fire Damage Remediation | <strong>AquaShield Restoration LLC</strong>" description="Comprehensive clean-up, deodorization, and reconstruction services for properties affected by fire.">
  <Navbar />
  <main>
    <FireDamageComponent />
  </main>
  <Footer />
</Layout>
