---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';
import HvacDecontamination from '../components/HvacDecontamination.astro';
---

<Layout title="HVAC Decontamination | <strong>AquaShield Restoration LLC</strong>" description="Deep cleaning and specialized decontamination of air conditioning systems and ducts, crucial after disasters.">
  <Navbar />
  <main>
    <HvacDecontamination />
  </main>
  <Footer />
</Layout>
