---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';
import InsuranceClaimsComponent from '../components/InsuranceClaims.astro';
---

<Layout title="Insurance Claims Assistance | <strong>AquaShield Restoration USA</strong>">
  <Navbar />
  <main>
    <InsuranceClaimsComponent />
  </main>
  <Footer />
</Layout>

