---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';
import LargeLossComponent from '../components/LargeLoss.astro';
---

<Layout title="Large Loss & Commercial | <strong>AquaShield Restoration LLC</strong>" description="Logistical and industrial capacity to handle large-scale disasters in warehouses, factories, and multi-family properties.">
  <Navbar />
  <main>
    <LargeLossComponent />
  </main>
  <Footer />
</Layout>
