---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';
import NewRoofComponent from '../components/NewRoof.astro';
---

<Layout title="New Roof Installation | <strong>AquaShield Restoration USA</strong>">
  <Navbar />
  <main>
    <NewRoofComponent />
  </main>
  <Footer />
</Layout>

