---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';
import PackoutRestorationComponent from '../components/PackoutRestoration.astro';
---

<Layout title="Packout & Content Restoration | <strong>AquaShield Restoration LLC</strong>" description="Salvage, packing, temporary storage, and restoration of furniture, clothing, valuable documents, and personal effects.">
  <Navbar />
  <main>
    <PackoutRestorationComponent />
  </main>
  <Footer />
</Layout>
