---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';
import RoofRepairComponent from '../components/RoofRepair.astro';
---

<Layout title="Roof Repair Services | <strong>AquaShield Restoration LLC</strong>">
  <Navbar />
  <main>
    <RoofRepairComponent />
  </main>
  <Footer />
</Layout>

