---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';
import StormDamage from '../components/StormDamage.astro';
---

<Layout title="Storm Damage Restoration | AquaShield Restoration LLC">
  <Navbar />
  <main>
    <StormDamage />
  </main>
  <Footer />
</Layout>

