---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';
import StormDamageComponent from '../components/StormDamage.astro';
---

<Layout title="Storm Damage Restoration | <strong>AquaShield Restoration LLC</strong>">
  <Navbar />
  <main>
    <StormDamageComponent />
  </main>
  <Footer />
</Layout>

