---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';
import WarrantiesComponent from '../components/Warranties.astro';
---

<Layout title="Warranties & Guarantees | <strong>AquaShield Restoration USA</strong>">
  <Navbar />
  <main>
    <WarrantiesComponent />
  </main>
  <Footer />
</Layout>

