---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';
import WaterMitigationComponent from '../components/WaterMitigation.astro';
---

<Layout title="Water Mitigation | <strong>AquaShield Restoration USA</strong>" description="Immediate water mitigation services to stop ongoing water damage and prevent mold growth in your property in record time.">
  <Navbar />
  <main>
    <WaterMitigationComponent />
  </main>
  <Footer />
</Layout>
