---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
import Services from '../components/Services.astro';
import AboutUs from '../components/AboutUs.astro';
import WhyUs from '../components/WhyUs.astro';
import Testimonials from '../components/Testimonials.astro';
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="AquaShield Restoration LLC | Total Restoration & Protection">
	<Navbar />
	<main>
		<Hero />
		<Services />
		<AboutUs />
		<WhyUs />
		<Testimonials />
		<Contact />
	</main>
	<Footer />
</Layout>
